body {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "comic sans ms", cursive;
  font-size: 18px;
  align-items: center;
  margin: 80px 80px;
  color: #444;
  background-image: url(https://wallpapercave.com/wp/Rstecz1.jpg);
  flex-direction: column;

}

.element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 12px;
}

.conteneur {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 width 900px
 background-image: url(https://wallpapercave.com/wp/Rstecz1.jpg);
}
