body {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "comic sans ms", cursive;
  font-size: 18px;
  margin: 80px 80px;
  color: #444;
  background-image: url(https://d1spp6thtwzcoh.cloudfront.net/sso/images/nao-pepper.png);
  flex-direction: column;

}

title {

  background-color: white;
  border: 1px solid black;
  padding: 9px;
  padding-bottom: 3px;
  padding-top: 2px;

  }

h1 {
  background-color: white;
  border: 1px solid black;
  padding: 9px;
  padding-bottom: 3px;
  padding-top: 2px;
  }

  p {

    background-color: white;
    border: 1px solid black;
    padding: 9px;
    padding-bottom: 3px;
    padding-top: 2px;

    }

.Homebtn {
  text-align: left;
  width: 50px;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  color: grey;
  margin-left: 0 0;
  background-color: white;
  border: 1px solid black;
  padding-bottom: 3px;



  }

  .conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: black;
    padding: 2px 2px;
}


.element {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: justify;
  margin: 0px 0px;
  color: 444;
  margin: 10px 20px;
  background-color: white;
  border: 1px solid black;
  padding: 2px 2px;


}
