body {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "comic sans ms", cursive;
  font-size: 18px;
  margin: 80px 80px;
  color: #444;
  background-image: url(https://d1spp6thtwzcoh.cloudfront.net/sso/images/nao-pepper.png);
  flex-direction: column;

}

.Homebtn {
  text-align: left;
  width: 70px;
  height: 40px;
  font-size: 20px;
  color: grey;
  margin-left: 0 0;
  background-color: grey;

  }

  .conteneur {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: black;
}


.element {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: justify;
  margin: 0px 0px;
  color: 444;
  margin: 10px 20px;
  background-color: white
}
